.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.border,
.border-bottom,
.border-top,
.border-right,
.border-left {
  border-color: black !important;
}

.pink-text {
  color: #fff;
  background-color: #ff1493;
  width: 20%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.drop-shadow {
  box-shadow: 12px 12px 8px rgb(0, 0, 0);
}

ul.b {
  list-style-type: square;
}



.borderg {
  background-image: url('/public/dot.svg');
  border: 1px solid #FFFFFF26;
  /* background-repeat: no-repeat; */
}

@media screen and (max-width: 930px) {
  .responimg {
    display: none !important;
  }

  .columnnn {
    flex-direction: column;
  }
}